
<div
  #container
  class="select-container"
  (clickOutside)='closeSelect()'>

  <div (click)="toggleSelect($event)"
       class="select-controls">

    <input #search class="select-control__search" type="text"
      (keyup)="startFilter($event)"
      (focus)="openSelect()"
      (blur)="onSearchBlur($event)">

    <span class="select-title" #caption>
      Select
    </span>
  </div>

  <div class="select-options">
    <ul class="select-content" [@selectContentState]="status">
      <li
        class="select-item"
        (click)="selectOption(item)"
        *ngFor="let item of selectItems; let i = index;">
        {{i}} - {{item.name}}
      </li>
    </ul>
  </div>
</div>
