$c-border: #c1c5c9;
$c-text: #515559;
$c-text-sec: $c-border;
$c-acc: #00c800;
$border-r: 4px;

.select-container {
  height: 3rem;
  border-radius: $border-r;
  border: 1px solid $c-border;
  transition: all .2s ease;
  padding-left: 1rem;
  color: $c-text;
  position: relative;
  cursor: pointer;
  border-left: 8px solid $c-border;
  &:hover {
    border-color: darken($c-border, 10%);
  }
  &.open {
    border-left: 8px solid $c-border;
    border-color: $c-acc;
    border-radius: $border-r $border-r 0 0;
  }
}

.select-controls{
  position: relative;
  height: 48px;

}

.select-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: $c-text-sec;
  position: absolute;
  z-index: 2;
  line-height: 48px;
  transition: top .2s ease;
}

.select-control__search {
  box-shadow: none;
  font-size: 18px;
  background: transparent;
  border: none;
  width: 100%;
  position: absolute;
  top: 16px;
  // display: none;
  &:focus {
    outline: none;
  }
}

.select-content {
  list-style: none;
  border: none;
  margin: 0;
  position: absolute;
  top: 46px;
  left: -8px;
  width: calc(100% + 9px);
  max-height: 144px;
  overflow-y: scroll;
  padding-left: 0;
  border: 1px solid $c-border;
  border-color: $c-acc;
  border-top-color: $c-border;
  border-radius: 0 0 $border-r $border-r;
  background-color: #fff;
}

.select-item {
  padding: .25rem 1rem;
  transition: all .3s ease;
  &:hover {
    background: rgba(0,0,0,0.08);
  }
}
