
<div
  #container
  class="select-with-search"
  (click)="toggleSelect($event)"
  (clickOutside)='closeSelect()'
  >

  <input #search class="select-with-search__control"
        (keyup)="startFilter($event)" type="text"
        (focus)="searchFocused()"
        (blur)="closeSelect()">

  <span class="select-title" #caption>
    Select
  </span>

  <!-- *ngIf="opened" -->
  <ul class="select-content" [@selectContentState]="selectContentState">
    <li
      class="select-item"
      (click)="setCurrentValue(item)"
      *ngFor="let item of selectItems; let i = index;">
      {{i}} - {{item.name}}
    </li>
  </ul>
</div>
